.containers-cat{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-cat{
  width:29%;

}
img.image-cat{
  height:300px;
  width: 350px;
  
}
.overlay{
  position:relative;
  bottom: 50%;
  height:300px;
  width: 350px;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(192,192,192);
}
.overlay:hover{
  opacity: .8;
  transition: .5s ease;
}
a.text {
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 50px;
}